* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('../img/bg.webp');
    background-repeat: no-repeat;
    background: url('/img/bg.webp') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}